/*Рейтинг звёзды*/

.rating-result {
	width: 265px;
}
.rating-result span {
	padding: 0;
	font-size: 18px;
	margin: 23px 0px 0px 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

/* Общее позиционирование */

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	max-width: 100%;
}
html {
	font-family: sans-serif;
}

.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

body {
	background-color: #e5e5e5;
}
/* Header */

.header_information {
	display: flex;
	width: 1170px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.header_phone_link {
	padding: 17px 0px 17px 40px;
}
.header_information_right {
	display: flex;
	margin-left: auto;
}
.header_icon_transition {
	width: 25px;
	height: 25px;
	margin-top: 17px;
	margin-right: 10px;
}
.header_link_transition {
	margin-top: 20px;
}

/* Nav */

.header_navigation {
	display: flex;
	width: 1170px;
	background-size: 100%;
	background-color: white;
	border-radius: 10px;
}
.header_navigation_list {
	display: flex;
}

.header_navigation_item {
	padding: 27px 25px 27px 45px;
}
.header_navigation_form_left button {
	width: 107px;
	height: 42px;
	margin-top: 14px;
	margin-right: 40px;
	color: #cc9933;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cc9933;
}
.header_navigation_form_right button {
	width: 177px;
	height: 42px;
	margin-top: 14px;
	color: #cc9933;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cc9933;
}

/* Main section one */

.main_section_header {
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: 40px;
}
.main_list_cards {
	display: flex;
	width: 1170px;
}
.main_cards_one {
	width: 573px;
	background-image: url('/image/Rectangle\ 15.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-right: 25px;
}
.text_cards_one {
	font-size: 40px;
	font-weight: bold;
	color: white;
	width: 420px;
	padding-left: 45px;
}
.text_cards_num {
	font-size: 20px;
	color: white;
	padding-left: 45px;
}
.block_link {
	display: flex;
	padding: 47px 0px 40px 45px;
}
.text_cards_link {
	font-size: 16px;
	color: #f0bf5f;
}
.text_cards_img {
	margin-left: 5px;
	margin-bottom: -4px;
}
.main_cards_two {
	width: 573px;
	background-image: url('/image/33\ 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}
.text_cards_two {
	width: 299px;
	font-size: 60px;
	font-weight: bold;
	color: white;
	padding: 0px 229px 50px 45px;
}
.main_cards_three {
	width: 573px;
	background-image: url('/image/Rectangle\ 15\ \(1\).png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

/* Main information */

.main_information {
	width: 888px;
	margin-top: 70px;
}
.main_information_header {
	font-size: 40px;
	margin-left: 40px;
}
.main_information_text {
	font-size: 16px;
}

/* Main section two */

.main-section_two {
	width: 1170px;
}
.main_list_cards_two {
	display: flex;
	width: 1170px;
}
.main_cards_section_two:not(:last-child) {
	width: 573px;
	border-radius: 10px;
	margin-top: 24px;
	margin-right: 24px;
	background-repeat: no-repeat;
	background-color: white;
}
.main_cards_section_two {
	width: 573px;
	border-radius: 10px;
	margin-top: 24px;

	background-repeat: no-repeat;
	background-color: white;
}
.block_main_section_two {
	padding: 26px 126px 35px 45px;
}

.main_list_cards_duble {
	display: flex;
	width: 1170px;
}
.main_cards_two_text {
	font-size: 20px;
	color: #cc9933;
}
.main_cards_two_img {
	margin-bottom: -4px;
	margin-left: 10px;
}

/* Main section three */

.block_main_section_three {
	width: 1170px;
}
.main_list_cards_three {
	display: flex;
}
.main_cards_section_three:not(:last-child) {
	width: 276px;
	margin-right: 24px;
	margin-bottom: 24px;
	background-color: white;
	border-radius: 10px;
}
.main_cards_section_three {
	width: 276px;

	margin-bottom: 24px;
	background-color: white;
	border-radius: 10px;
}
.main-section_three_content {
	padding: 40px 42px 32px 45px;
	font-size: 16px;
}
.main_list_cards_double_three {
	display: flex;
}

/* Main cards four */

.main_cards_four {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.rating-result {
	display: flex;
	width: 370px;
}
.sale {
	margin-left: 45px;
	margin-right: 52px;
	font-size: 20px;
	font-weight: bold;
}
.main_list_one {
	display: flex;
}
.main_list_two {
	display: flex;
}
.main_list_three {
	display: flex;
}
.main_cards_four_item:not(:last-child) {
	width: 374px;
	background-color: white;
	border-radius: 10px;
	margin-bottom: 24px;
	margin-right: 24px;
}
.main_cards_four_item {
	width: 374px;
	background-color: white;
	border-radius: 10px;
	margin-bottom: 24px;
	margin-right: 24px;
}
.main_cards_btn button {
	width: 107px;
	height: 42px;
	margin-top: 14px;
	margin-right: 40px;
	color: #cc9933;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cc9933;
}
.block_main_cards_four {
	padding: 0px 138px 45px 45px;
}
.main_cards_four_item_selection {
	/* width: 400px; */
	border-radius: 10px;
	background-image: url('/image/Group\ 37.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 24px;
}
.block_main_cards_foot {
	padding: 390px 88px 27px 20px;
}
.main_cards_foot_link {
	font-size: 20px;
	color: white;
}
.main_cards_foot_img {
	margin-bottom: -3px;
	margin-left: 5px;
}

/* Form */

.main_section_form {
	max-width: 1200px;
	height: 256px;
	margin-right: auto;
	margin-left: auto;
	background-color: #e9e9e9;
}
.container_form h2 {
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: 40px;
}
.form {
	width: 1100px;
	margin-top: 0px;
	margin-left: 45px;
	background-color: #ffffff;
	border-radius: 10px;
}
.form_list {
	display: flex;
	padding: 40px 31px 31px 28px;
}
.form_item {
	width: 160px;
	margin-right: 28px;
	border: white;
}
.btn_form {
	width: 107px;
	height: 42px;
	margin-top: 14px;
	color: #cc9933;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cc9933;
}
.main_header {
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: 40px;
}
.container_backgraund {
	display: flex;
	width: 1170px;
	height: 618px;
	background-color: white;
	border-radius: 10px;
}

.container_box_left {
	display: flex;
}
.box_row_one {
	width: 350px;
	font-size: 16px;
	padding: 45px 0px 23px 83px;
}
.container_box_left_2 {
	display: flex;
}
.container_box_left_3 {
	display: flex;
}
.container_box_left_4 {
	display: flex;
}
.box_row {
	font-size: 20px;
	font-weight: bold;
	padding-top: 45px;
	padding-left: 45px;
	padding-bottom: 77px;
}
